@charset "UTF-8";


:root {
    /* Paleta de Cores */
    --cor-princ: #001388;
    --cor-sec: #8091FF;
    --cor-terc: #121947;
    --cor-quart: #DCBA49;
    --cor-quint: #876800;
    --cor-sex: #B5E3F5;
    --cor-set: #f0ffff;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background: rgba(0, 0, 0, 0.418) url(midias/imagens/matemática-background.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;
    height: 100vh;
    position: relative;
}

header img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
}

header > h1 {
    color: var(--cor-quart);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    width: 33.5vh;
    text-align: center;
}

h1.logo-principal {
    background-color: #001288ce;
    padding: 25px;
    font-family: cursive;
    font-weight: 900;
    border-radius: 10px;
}

/* Conteúdo */
main {
    background-color: var(--cor-princ);    
    height: 100vh;
}

/* Menu de pesquisa */

menu {
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.459);
}

i#burger {
    color: var(--cor-quint);
    display: block;
    text-align: center;
    cursor: pointer;
    background-color: var(--cor-terc);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.459);
    padding: 15px;
    transition: .4s;
    transition-timing-function: ease;
}

i#burger:hover {
    background-color: var(--cor-sec);
}

/* Conteúdos menu */

menu ul {
    list-style-type: none;
}

menu li {
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.308);
    
}

menu a {
    display: block;
    padding: 10px;
    color: var(--cor-quart);
    border: 1px solid #00000048;
    text-decoration: none;
    background-color: var(--cor-terc);
    transition: .4s;
    transition-timing-function: ease;
}

menu a:hover {
    background-color: var(--cor-sec);
}

/* Conteúdo (Sobre nós) */

section {
    padding: 0px;
    height: 100vh;
    box-shadow: 1px 1px 10px #00000065;
    position: relative;
    background-color: var(--cor-princ);
}

section h2 {
    text-align: center;
    font-weight: 700;
    color: var(--cor-quart);
    text-shadow: 1px 1px 10px #00000086;
    font-size: 1.7em;
}

section p {
    margin: 20px;
    padding: 10px 30px;
    text-align: justify;
    text-indent: 25px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #00000065;
    font-size: 1.1em;  
}

div.iframe-metro > iframe {
    border: none;
    height: 30vh;
    width: 100%;
}

/* Conteúdo (Nossa Localização) */

section article {
    background-color: var(--cor-princ);
    padding: 30px 0px;  
}

div.mapa {
    padding: 10px;
    background-color: var(--cor-terc);
    display: block;
    box-shadow: 1px 1px 10px #00000079;
}

div.mapa h2 {
    text-align: center;
    padding-top: 20px;
    font-size: 1.7em;
}
#mapa-waze {
    height: 400px;
    width: 100%;
}

/* Conteúdo (Pareceiros) */

div.parceiros {
    background-color: var(--cor-princ);
    width: 100%;
    padding-top: 30px;
    text-align: center;
}

aside {
    display: block;
    margin: auto;
    width: 85%;
    background-color: var(--cor-set);
    padding: 15px;
    text-shadow: 1px 1px 10px #00000086;
    box-shadow: 1px 1px 10px #00000086;
    border-radius: 10px;
}

/* Conteúdo (Parceiros) */

div.parceiros h1 {
    color: var(--cor-quint);
    text-shadow: 1px 1px 10px #00000086;
    padding-top: 30px;
    font-size: 1.7em;
}

div.parceiros  p {
    background-color: var(--cor-sec);
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000a2;
    
}


/* Imagem (Parceiros) */

div#imagens  p {
    display: block;
    margin: 20px auto;
    width: 70vw;
    padding: 10px;
    
}

div#imt, #metro, #ie {
    margin: 50px 0px 80px 0px;
    
}

img.ie {
    width: 150px;
    height: 45px;
}

/* Rodapé*/

footer {
    background-color: black;
    width: 100%;
    
}

.container-footer {
    margin: 10px;
}